<template>
  <div class="profiling">
    <div class="tool-wrap">
      <i-input
        @on-blur="getSchema"
        class="tool-item"
        v-model="host"
        style="width:220px;"
      >
        <Select
          @on-change="getSchema"
          v-model="protocol"
          slot="prepend"
          style="width:80px"
        >
          <Option value="http://">http://</Option>
          <Option value="https://">https://</Option>
        </Select>
      </i-input>
      <Select class="tool-item" disabled v-model="db" style="width:120px">
        <Option value="data_gov">data_gov</Option>
      </Select>
      <Select
        class="tool-item"
        @on-change="getTable"
        v-model="schema"
        style="width:150px"
      >
        <Option v-for="item in schemaList" :value="item" :key="item">
          {{ item }}
        </Option>
      </Select>
      <Select class="tool-item" v-model="table" style="width:260px">
        <Option v-for="item in tableList" :value="item" :key="item">
          {{ item }}
        </Option>
      </Select>
      <DatePicker
        class="tool-item"
        @on-change="dateChange"
        type="month"
        placeholder="请选择年月"
        style="width: 120px"
      ></DatePicker>
      <Select
        class="tool-item"
        placeholder="日期"
        v-model="day"
        style="width:100px"
        clearable
      >
        <Option v-for="item in dayList" :value="item" :key="item">
          {{ item }}
        </Option>
      </Select>
      <Button class="tool-item" @click="search" type="primary">查询</Button>
      <Button class="tool-item" @click="open" v-if="showIframe" type="primary">
        新页面打开
      </Button>
    </div>
    <div class="iframe-wrap" v-if="showIframe">
      <!-- <div class="btn-box">
        <Button @click="open" type="primary">
          新页面打开
        </Button>
      </div> -->
      <iframe
        ref="iframe"
        name="myiframe"
        frameborder="0"
        :src="resultUrl"
      ></iframe>
    </div>
  </div>
</template>
<script>
import { link } from '@/util/link'
export default {
  data() {
    return {
      protocol: 'http://',
      host: '10.1.49.72:42555',
      db: 'data_gov',
      schema: '',
      schemaList: [],
      table: '',
      tableList: [],
      date: '',
      day: '',
      dayList: [],
      showIframe: false,
      resultUrl: ''
    }
  },
  methods: {
    getSchema() {
      if (!this.host) return
      link(this.protocol + this.host + '/' + this.db).then(res => {
        this.schemaList = res.resource
        if (res.resource.length === 0) {
          this.$Message.info('未查询数据,请检查url是否正确')
        }
      })
    },
    getTable() {
      if (!this.host) return
      link(this.protocol + this.host + '/' + this.db + '/' + this.schema).then(
        res => {
          this.tableList = res.resource
          if (res.resource.length === 0) {
            this.$Message.info('未查询数据')
          }
        }
      )
    },
    dateChange(val) {
      this.date = val
      let dateArr = this.date.split('-')
      this.getMonthDays(dateArr[0], dateArr[1])
    },
    getMonthDays(year, month) {
      let stratDate = new Date(year, month - 1, 1)
      let endData = new Date(year, month, 1)
      let days = (endData - stratDate) / (1000 * 60 * 60 * 24)
      if (this.dayList.length !== days) {
        this.dayList = []
        for (let i = 1; i <= days; i++) {
          this.dayList.push(i)
        }
        if (!this.dayList.includes(this.day)) {
          this.day = ''
        }
      }
    },
    search() {
      if (!this.protocol) {
        this.$Message.info('请填写url')
        return
      } else if (!this.schema) {
        this.$Message.info('schema不能为空')
        return
      } else if (!this.table) {
        this.$Message.info('表不能为空')
        return
      } else if (!this.date) {
        this.$Message.info('请选择年月')
        return
      }
      let url = `${this.protocol}${this.host}/${this.db}/${this.schema}/${
        this.table
      }/profiling?date=${this.day ? `${this.date}-${this.day}` : this.date}`
      link(url)
        .then(() => {
          this.resultUrl = url
          if (this.showIframe) {
            window.open(url, 'myiframe')
          } else {
            this.showIframe = true
          }
        })
        .catch(err => {
          console.log(err)
          this.showIframe = false
          this.$Message.error('未查询到分析报告')
        })
    },
    open() {
      window.open(this.resultUrl)
    }
  },
  created() {
    this.getSchema()
    for (let i = 1; i <= 31; i++) {
      this.dayList.push(i)
    }
  }
}
</script>
<style lang="less">
.profiling {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  .iframe-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 -25px;
    iframe {
      flex: 1;
      width: 100%;
      overflow: auto;
    }
    .btn-box {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
}
.tool-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .tool-item {
    margin-right: 15px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
