<template>
  <codemirror
    class="code-editor"
    ref="editor"
    :class="{ 'code-error': onError }"
    v-model="codeString"
    :options="option"
    @input="onInput"
  ></codemirror>
</template>

<script>
/* eslint-disable */
import { codemirror } from 'vue-codemirror-lite';

require('codemirror/mode/javascript/javascript');
require('codemirror/mode/vue/vue');
require('codemirror/theme/base16-dark.css');
require('codemirror/addon/fold/foldgutter.css');
require('codemirror/mode/javascript/javascript');
require('codemirror/addon/fold/foldcode.js');
require('codemirror/addon/fold/foldgutter.js');
require('codemirror/addon/fold/brace-fold.js');
require('codemirror/addon/fold/xml-fold.js');
require('codemirror/addon/fold/indent-fold.js');
require('codemirror/addon/wrap/hardwrap.js');
require('codemirror/addon/hint/show-hint.js');
require('codemirror/addon/hint/show-hint.css');
require('codemirror/addon/hint/javascript-hint.js');
export default {
  props: {
    value: {},
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      onError: false,
      inputing: false,
      codeString: ''
    };
  },
  computed: {
    option () {      
      return {
        mode: 'application/json',
        theme: 'base16-dark',
        lineWrapping: true,
        lineBreak: true,
        foldGutter: true,
        lint: true,
        readOnly: this.disabled,
        cursorBlinkRate: this.disabled ? -1 : 530,
        gutters: [
          'CodeMirror-linenumbers',
          'CodeMirror-foldgutter',
          'CodeMirror-lint-markers'
        ]
      }
    }
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler () {
        if (!this.inputing) {
          this.codeString = JSON.stringify(this.value, null, 2);
          this.onError = false;
        }
      }
    },
    onError() {
      this.$emit('errorChange', this.onError)
    }
  },
  methods: {
    onInput () {
      try {
        this.$emit('input', JSON.parse(this.codeString));
        this.inputing = true;
        this.onError = false;
        let that = this;
        setTimeout(() => {
          that.inputing = false;
        });
      } catch (ex) {
        // console.error(ex);
        this.onError = true;
      }
      let value;
    },
    insert (text, step) {
      let editor = this.$refs.editor.editor;
      let selection = editor.getSelection();
      let doc = editor.getDoc();
      let cursor = doc.getCursor();
      let selectionLength = selection.length;
      var pos = {
        line: cursor.line,
        ch: cursor.ch
      };
      if (selectionLength > 0) {
        editor.replaceSelection(text);
      } else {
        doc.replaceRange(text, pos);
      }
      // 插入内容后需重新获取焦点
      setTimeout(() => {
        doc.setCursor(
          pos.line,
          pos.ch + (text.length - selectionLength) + step
        );
        editor.focus();
      });
    }
  },
  components: { codemirror }
};
</script>

<style>
.vue-codemirror-wrap.code-editor.code-error > div.CodeMirror {
  background: #522e2e !important;
}
</style>
