<template>
  <Menu width="150px" :active-name="active">
    <MenuItem to="/dataeditor" name="dataeditor">
      dataeditor
    </MenuItem>
    <MenuItem to="/etl" name="etl">
      etl
    </MenuItem>
    <MenuItem to="/profiling" name="profiling">
      profiling
    </MenuItem>
  </Menu>
</template>
<script>
export default {
  computed: {
    active() {
      return this.$route.path.slice(1)
    }
  }
}
</script>
