<!-- 路径处理 -->
<template>
  <div class="path_dispose">
    <div class="select-list">
      <SeLect
        class="pathselect"
        :list="databaseList"
        title="请选择数据库"
        @setdata="setdatabase"
      ></SeLect>
      <SeLect
        class="pathselect"
        :list="schemaList"
        title="请选择数据目录"
        @setdata="setschema"
      ></SeLect>
      <SeLect
        class="pathselect"
        :list="tableList"
        title="请选择数据表"
        @setdata="settable"
      ></SeLect>
      <Button type="info" @click="inquire">查询数据</Button>
    </div>
    <dataModal
      v-show="fields.length"
      :url="ApiPath"
      :fields="fields"
    ></dataModal>
  </div>
</template>

<script>
import SeLect from './select'
import dataModal from '@/view/apidev/datamodal'
import { link } from '@/util/link'
export default {
  components: { SeLect, dataModal },

  props: {},

  data() {
    return {
      database: '',
      databaseList: [
        {
          value: 'data_gov',
          label: 'data_gov'
        },
        {
          value: 'metro',
          label: 'metro'
        }
      ],
      schema: '',
      schemaList: [],
      table: '',
      tableList: [],
      ApiPath: '',
      fields: [],
      dataButton: false
    }
  },
  computed: {},

  created() {},

  mounted() {},

  methods: {
    setdatabase(value) {
      if (value === 'data_gov') {
        let List = [
          {
            value: 'adm',
            label: 'adm'
          },
          {
            value: 'cdm',
            label: 'cdm'
          },
          {
            value: 'ods',
            label: 'ods'
          }
        ]
        this.schemaList = List
      } else if (value === 'metro') {
        this.schemaList = [
          {
            value: 'config',
            label: 'config'
          }
        ]
      }
      this.database = value
      this.tableList = []
    },
    setschema(value) {
      if (!value) return
      let path = `${this.database}/${value}?`
      link(path).then(res => {
        let List = res.resource
        let listArr = []
        for (const item of List) {
          listArr.push({
            value: item,
            label: item
          })
        }
        this.tableList = listArr
      })
      this.schema = value
    },
    settable(value) {
      if (!value) return
      this.ApiPath = this.database + '/' + this.schema + '/' + value
      this.table = value
    },
    inquire() {
      switch (true) {
        case this.database === '':
          return this.$Message.info('请选择数据库(Database)')
        case this.schema === '':
          return this.$Message.info('请选择数据目录(Schema)')
        case this.table === '':
          return this.$Message.info('请选择数据表(Table)')
        default:
          return this.$emit('ApiPath', this.ApiPath), this.getFields(this.table)
      }
    },
    getFields(table) {
      if (table && table !== '') {
        link(`${this.ApiPath}/metadata`).then(res => {
          this.fields = res.metadata.columns
        })
      }
    }
  }
}
</script>
<style lang="less">
.path_dispose {
  padding: 25px;
  .select-list {
    display: flex;
    margin-bottom: 50px;
    .select {
      margin-right: 20px;
      min-width: 100px;
    }
  }
}
</style>
