<!-- 路径处理 -->
<template>
  <div class="path_dispose">
    <div class="select-list">
      <i-input
        v-model="baseUrl"
        placeholder="请输入url"
        autocomplete="on"
        style="width:400px"
        @on-blur="getTableList(baseUrl)"
      >
        <Select v-model="protocol" slot="prepend" style="width: 80px">
          <Option value="http://">http://</Option>
          <Option value="https://">https://</Option>
        </Select>
      </i-input>
      <SeLect
        class="pathselect"
        :list="tableList"
        title="请选择数据表"
        :disabled="dataButton"
        @setdata="settable"
      >
      </SeLect>
      <Button type="info" @click="inquire">查询数据</Button>
    </div>
    <div class="data-wrap">
      <dataModal
        v-show="fields.length"
        :url="ApiPath"
        :fields="fields"
      ></dataModal>
      <Spin v-show="loading" fix></Spin>
    </div>
  </div>
</template>

<script>
import SeLect from './select'
import dataModal from '@/view/apidev/datamodal'
import { link } from '@/util/link'
export default {
  components: { SeLect, dataModal },

  props: {},

  data() {
    return {
      table: '',
      tableList: [],
      ApiPath: '',
      fields: [],
      dataButton: false,
      baseUrl: '',
      protocol: 'http://',
      loading: false
    }
  },
  methods: {
    settable(value) {
      if (!value) return
      this.table = value
    },
    getTableList(value) {
      if (!value) return
      link(this.protocol + this.baseUrl).then(res => {
        let List = res.resource
        let listArr = []
        for (const item of List) {
          listArr.push({
            value: item,
            label: item
          })
        }
        this.tableList = listArr
        if (res.resource.length === 0) {
          this.$Message.info('未查询到表数据,请检查url是否正确')
          this.table = ''
        }
      })
    },
    getFields() {
      this.loading = true
      this.$emit('loadingChange', true)
      link(`${this.ApiPath}/metadata`)
        .then(res => {
          if (res.code === 200) {
            this.fields = res.metadata.columns
            this.$emit('fieldsChange', {
              fields: res.metadata.columns,
              apiPath: this.ApiPath
            })
          } else {
            this.$Message.error(res.metadata)
          }
        })
        .catch(() => this.$Message.error('请求错误'))
        .finally(() => {
          this.loading = false
          this.$emit('loadingChange', false)
        })
    },
    inquire() {
      if (this.baseUrl === '') {
        this.$Message.info('请输入url')
        return
      }
      if (this.table === '') {
        this.$Message.info('请选择表')
        return
      }
      this.ApiPath = this.protocol + this.baseUrl + '/' + this.table
      this.getFields()
    }
  }
}
</script>
<style lang="less">
.data-wrap {
  position: relative;
}
.path_dispose {
  padding: 25px;
  .select-list {
    display: flex;
    margin-bottom: 50px;
    .select {
      margin-right: 10px;
      min-width: 100px;
    }
    .ivu-input-wrapper {
      margin-right: 10px;
    }
  }
}
</style>
