<!-- 下拉选择器 -->
<template>
  <div class="select">
    <Select v-model="value" v-if="list.length > 0" :placeholder="title">
      <Option v-for="item in list" :value="item.value" :key="item.value">{{
        item.label
      }}</Option>
    </Select>
    <Select v-else disabled v-model="value" :placeholder="title">
      <Option v-for="item in list" :value="item.value" :key="item.value">{{
        item.label
      }}</Option>
    </Select>
  </div>
</template>

<script>
export default {
  components: {},

  props: {
    list: null,
    title: null
  },

  data() {
    return {
      value: ''
    }
  },

  watch: {
    value: {
      handler(new_) {
        this.$emit('setdata', new_)
      }
    }
  }
}
</script>
