<!-- 数据展示弹窗 -->
<template>
  <div class="datamodal">
    <div class="table-tool">
      <Button icon="ios-add" size="small" type="primary" @click="create"
        >新建</Button
      >
      <Button
        icon="ios-funnel"
        size="small"
        type="primary"
        @click="drawerVisible = true"
        >Filters</Button
      >
    </div>
    <Table
      border
      stripe
      :loading="tableLoading"
      :max-height="700"
      :columns="columns"
      :data="tableData"
    >
      <template slot-scope="{ row, index }" slot="action">
        <Tooltip
          style="margin-right: 5px"
          content="删除"
          transfer
          placement="top-start"
        >
          <Button
            icon="ios-trash-outline"
            size="small"
            type="error"
            @click="remove(row, index)"
          ></Button>
        </Tooltip>
        <Tooltip content="编辑" transfer placement="top-start">
          <Button
            icon="ios-create-outline"
            size="small"
            type="primary"
            @click="edit(row, index)"
          ></Button>
        </Tooltip>
      </template>
    </Table>
    <Page
      :total="pageLength"
      show-sizer
      show-total
      v-show="pageLength"
      show-elevator
      @on-change="pageChange"
      @on-page-size-change="pageChangeSize"
    />
    <Modal
      v-model="modalVisible"
      :title="curAction"
      :width="70"
      :styles="{ top: '20px' }"
    >
      <div style="max-height:650px;overflow:auto;">
        <DynamicForm
          v-model="formData"
          v-if="modalVisible"
          labelPosition="top"
          :model="formModel"
          :inline="formModel.fields.length > 8 ? 2 : 1"
          ref="form"
        />
      </div>
      <div slot="footer">
        <Button @click="modalVisible = false">取消</Button>
        <Button type="primary" :loading="loading" @click="handleOk"
          >确定</Button
        >
      </div>
    </Modal>
    <Drawer title="Filters" v-model="drawerVisible">
      <div class="filters-box">
        <div class="subTitle">fields</div>
        <div class="subTitle">
          <Checkbox
            :indeterminate="
              checkAllGroup.length > 0 && checkAllGroup.length !== fields.length
            "
            :value="checkAllGroup.length === fields.length"
            style="fontWeight:normal"
            @click.prevent.native="handleCheckAll"
            >全选</Checkbox
          >
        </div>
        <CheckboxGroup v-model="checkAllGroup" @on-change="checkAllGroupChange">
          <Checkbox
            v-for="item in fields"
            :key="item['name']"
            :label="item['name']"
          ></Checkbox>
        </CheckboxGroup>
      </div>
      <div class="filters-box">
        <div class="subTitle">filter</div>
        <div>
          <Select
            class="filter-item"
            @on-change="filterKeyChange"
            v-model="filterKey"
          >
            <span class="label" slot="prefix">Filter By</span>
            <Option
              v-for="item in fields"
              :value="item['name']"
              :key="item['name']"
              >{{ item['name'] }}</Option
            >
          </Select>
          <Select class="filter-item" v-model="filterOperator">
            <span class="label" slot="prefix">Operator</span>
            <Option v-for="item in operators" :value="item" :key="item">{{
              item
            }}</Option>
          </Select>
          <i-input class="filter-item" v-model="filterValue">
            <span slot="prepend">Filter value</span>
          </i-input>
          <Button type="primary" @click="filterData" long>查询</Button>
        </div>
      </div>
    </Drawer>
  </div>
</template>

<script>
import DynamicForm from '@/components/dynamic-form'
import { link } from '@/util/link'
const typeMap = [
  { reg: /^text/, keys: { type: 'text' } },
  {
    reg: /^interval/,
    keys: { type: 'interval', attrs: { format: 'HH:mm:ss' } }
  },
  { reg: /int/, keys: { type: 'number' } },
  { reg: /real/, keys: { type: 'number', attrs: { step: 0.1 } } },
  { reg: /^date$/, keys: { type: 'date' } },
  { reg: /^timestamp/, keys: { type: 'date', attrs: { type: 'datetime' } } },
  { reg: /^time$/, keys: { type: 'time' } },
  { reg: /^time\(\d\)/, keys: { type: 'time' } },
  { reg: /^json$/, keys: { type: 'codeEditor' } },
  {
    reg: '^boolean$',
    keys: {
      type: 'radioGroup',
      dataList: [
        {
          value: true,
          name: 'true'
        },
        {
          value: false,
          name: 'false'
        }
      ]
    }
  }
]
export default {
  components: {
    DynamicForm
  },

  props: {
    fields: Array,
    url: String
  },

  data() {
    return {
      state: false,
      columns: [],
      initColumns: [],
      tableData: [],
      pageNum: 1,
      pageLength: 0,
      pageSize: 10,
      modalVisible: false,
      loading: false,
      formData: {},
      // 主键
      key: null,
      curAction: null,
      tableLoading: false,
      drawerVisible: false,
      checkAllGroup: [],
      filterKey: null,
      filterValue: null,
      filterOperator: '=',
      operators: ['=', '>', '<', '>=', '<=', '!=']
    }
  },

  watch: {
    fields: {
      immediate: true,
      handler(v) {
        if (v && v.length > 0) {
          this.columns = []
          this.checkAllGroup = []
          v.forEach(item => {
            this.columns.push({
              title: item['name'],
              key: item['name'],
              minWidth: 200,
              align: 'center',
              sortable: true
            })
            if (item['is_primary']) {
              this.key = item['name']
            }
            this.checkAllGroup.push(item['name'])
          })
          this.columns.push({
            title: 'Action',
            slot: 'action',
            width: 100,
            align: 'center',
            fixed: 'right'
          })
          this.initColumns = this.columns
          this.setTableData()
        }
      }
    }
  },

  computed: {
    formModel() {
      if (!this.fields) return { fields: [] }
      let result = { fields: [] }
      result.fields = this.fields.reduce((t, v) => {
        let item = {}
        item.name = v['name']
        item.code = v['name']
        item.rules = [
          {
            required: !v['nullable'] || v['is_primary'],
            message: `${item.name}不能为空`
          }
        ]
        let keys = this.processStyle(v['type'].toLowerCase())
        Object.assign(item, keys)
        t.push(item)
        return t
      }, [])
      return result
    }
  },
  methods: {
    processStyle(type) {
      let item = typeMap.find(v => {
        let reg = new RegExp(v.reg)
        return reg.test(type)
      })
      return item ? item.keys : { type: 'string' }
    },
    pageChange(page, filter) {
      this.tableLoading = true
      let path = `${this.url}?limit=${this.pageSize}&offset=${this.pageSize *
        (page - 1)}`
      if (filter) {
        path = `${this.url}?limit=${this.pageSize}&offset=${this.pageSize *
          (page - 1)}&${filter}`
      }
      link(path)
        .then(res => {
          this.tableData = res.resource
        })
        .finally(() => (this.tableLoading = false))
      this.pageNum = page
    },
    pageChangeSize(num) {
      this.$set(this, 'pageSize', num)
      this.pageChange(this.pageNum)
    },
    setTableData() {
      this.tableLoading = true
      link(`${this.url}?fields=count(${this.key})`)
        .then(res => {
          this.pageLength = res.resource[0][`count(${this.key})`]
          if (this.pageLength) {
            this.pageChange(this.pageNum)
          } else {
            this.tableData = []
          }
        })
        .finally(() => (this.tableLoading = false))
    },
    remove(row) {
      link(`${this.url}/${row[this.key]}`, null, {
        method: 'delete'
      })
        .then(res => {
          if (res.code === 200) {
            this.$Message.success('删除成功')
            this.setTableData()
          } else {
            this.$Message.error(`删除失败`)
          }
        })
        .catch(err => console.log(err.message))
    },
    create() {
      this.formData = {}
      this.curAction = '创建'
      this.modalVisible = true
    },
    handleOk() {
      this.$refs.form.validate().then(({ valid }) => {
        if (valid) {
          this.loading = true
          let data = Object.keys(this.formData).reduce((t, v) => {
            t[v] = this.formData[v] === '' ? null : this.formData[v]
            return t
          }, {})
          link(
            this.url,
            { resource: [data] },
            {
              method: 'put'
            }
          )
            .then(res => {
              if (res.code === 200) {
                this.$Message.success(`${this.curAction}成功`)
                this.modalVisible = this.loading = false
                this.setTableData()
              } else {
                this.$Message.error(`${this.curAction}失败`)
              }
            })
            .finally(() => {
              this.loading = false
            })
        }
      })
    },
    edit(row) {
      this.formData = this.fields.reduce((t, v) => {
        let code = v['name']
        if (code) t[code] = row[code]
        return t
      }, {})
      this.curAction = '编辑'
      this.modalVisible = true
    },
    checkAllGroupChange(arr) {
      this.columns = arr.length
        ? this.initColumns.filter(v => {
            if (!v['key'] || arr.includes(v['key'])) return v
          })
        : []
    },
    handleCheckAll() {
      if (this.checkAllGroup.length === this.fields.length) {
        this.checkAllGroup = []
        this.columns = []
      } else {
        this.checkAllGroup = this.fields.map(v => v['name'])
        this.columns = this.initColumns
      }
    },
    filterData() {
      if (this.filterKey === null && this.filterValue === null) return
      let filterValue =
        this.filterOperator === 'like'
          ? `%${this.filterValue}%`
          : this.filterValue
      this.pageChange(
        this.pageNum,
        `filter=(${this.filterKey}${this.filterOperator}${filterValue})`
      )
    },
    filterKeyChange(val) {
      this.filterOperator = '='
      let type = this.fields.find(v => v.name === val).type
      if (type.includes('INT') && !type.includes('INTERVAL')) {
        this.operators = ['=', '>', '<', '>=', '<=', '!=']
      } else {
        this.operators = ['=', 'like']
      }
    }
  }
}
</script>
<style lang="less">
@import '~@/components/dynamic-form/style/index.less';
.datamodal {
  .table-tool {
    display: flex;
    margin-bottom: 20px;
    button {
      margin-right: 20px;
    }
  }
  .ivu-table-wrapper {
    margin-bottom: 10px;
  }
}
.filters-box {
  margin-bottom: 16px;
  .subTitle {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  .filter-item {
    margin: 10px 0;
    .label {
      display: block;
      padding: 4px 7px;
      border-right: 1px solid #dcdee2;
    }
  }
}
</style>
