<template>
  <div>
    <div class="table-tool">
      <div class="tool-left">
        <Select
          v-model="table"
          @on-change="getFields"
          placeholder="选择表"
          style="width:200px"
          class="tool-item"
          filterable
        >
          <Option v-for="item in tableList" :value="item" :key="item">{{
            item
          }}</Option>
        </Select>
        <div class="ivu-upload">
          <div class="ivu-upload ivu-upload-select">
            <input
              type="file"
              @change="readExcel"
              ref="file"
              class="ivu-upload-input"
            />
            <button
              type="button"
              @click="$refs.file.click()"
              class="ivu-btn ivu-btn-default"
            >
              <span>读取本地excel或csv</span>
            </button>
          </div>
          <ul class="ivu-upload-list"></ul>
        </div>
      </div>
      <div>
        <Input
          v-model="excelCodeName"
          placeholder="导出excel的名称"
          style="width: 300px"
          class="tool-item"
        />
        <Button class="tool-item" type="primary" @click="exportExcel"
          >导出excel</Button
        >
        <Button class="tool-item" type="primary" @click="exportCsv"
          >导出csv</Button
        >
      </div>
    </div>
    <div class="table-wrap">
      <Table
        ref="table"
        border
        :max-height="700"
        :loading="loading"
        :columns="columns"
        :data="data"
      >
        <template slot-scope="{ row, index }" slot="originField">
          <span v-if="!row.insert">{{ row.origin_field }}</span>
          <Input
            v-else
            :value="row['origin_field']"
            @on-change="dataChange(index, 'origin_field', $event.target.value)"
            placeholder="请输入原字段名"
          />
        </template>
        <template slot-scope="{ row, index }" slot="newField">
          <AutoComplete
            :value="row['new_field']"
            @on-select="newFieldChange(index, $event)"
            @on-change="handleSearch(index, $event)"
            @on-blur="blur(index, $event)"
            @on-focus="focus"
            placeholder="请输入新字段名"
            :transfer="true"
            tabindex="0"
            @keydown.native.up.prevent="handleKeydown"
            @keydown.native.down.prevent="handleKeydown"
            @keydown.native.tab="handleKeydown"
          >
            <div class="etyma-option-wrap">
              <Loading :loading="autoLoading" text="努力翻译中" />
              <div v-show="notSynonyms" class="notSynonyms">
                <img src="~@/assets/nanguo.png" alt="" />
                近义词返回空
              </div>
              <Option
                v-show="!autoLoading"
                v-for="(option, index) in newFieldOpts"
                :value="option.etyma"
                :key="option.etyma"
                :class="{ active: curIndex === index }"
              >
                <div class="etyma-option-item">
                  <span class="title">{{ option.etyma }}</span>
                  <span class="des">{{ option.chinese }}</span>
                  <span
                    :class="['ps', { info: option.ps === '未录入词根表' }]"
                    >{{ option.ps }}</span
                  >
                </div>
              </Option>
            </div>
          </AutoComplete>
        </template>
        <template slot-scope="{ row, index }" slot="dataType">
          <Select
            placeholder="请选择数据类型"
            @on-change="dataChange(index, 'dataType', $event)"
            v-model="row.dataType"
            :transfer="true"
            style="maxWidth:200px"
          >
            <Option v-for="item in dataTypes" :value="item" :key="item">{{
              item
            }}</Option>
          </Select>
        </template>
        <template slot-scope="{ row, index }" slot="methods">
          <Input
            :value="row['methods']"
            type="textarea"
            :autosize="true"
            @on-change="dataChange(index, 'methods', $event.target.value)"
            placeholder="请输入治理方法"
          />
        </template>
        <template slot-scope="{ row, index }" slot="remark">
          <Input
            :value="row['remark']"
            type="textarea"
            :autosize="true"
            @on-change="dataChange(index, 'remark', $event.target.value)"
            placeholder="请输入备注"
          />
        </template>
        <template slot-scope="{ row, index }" slot="action">
          <Dropdown placement="bottom-start" :transfer="true">
            <a href="javascript:void(0)">
              编辑
              <Icon type="ios-arrow-down"></Icon>
            </a>
            <DropdownMenu slot="list" :transfer="true">
              <DropdownItem
                @click.native="remove(row, index)"
                :disabled="!row.insert"
                >删除</DropdownItem
              >
              <DropdownItem @click.native="insert(index)"
                >向上插入一行</DropdownItem
              >
              <DropdownItem @click.native="insert(index + 1)"
                >向下插入一行</DropdownItem
              >
            </DropdownMenu>
          </Dropdown>
        </template>
      </Table>
    </div>
  </div>
</template>
<script>
import { link } from '@/util/link'
import { throttle, deepCopy } from '@/util'
import { readExcel } from '@/util/excel'
import { translate } from '@/util/translate'
import Loading from '@/components/loading'
export default {
  components: {
    Loading
  },
  data() {
    return {
      // baseUrl: 'http://132.232.172.50:42555',
      baseUrl: 'http://10.1.49.72:42555',
      tableList: [],
      table: '',
      excelCodeName: '',
      loading: false,
      columns: [
        {
          key: 'origin_field',
          title: '原字段名',
          slot: 'originField'
        },
        {
          title: '新字段名',
          slot: 'newField',
          key: 'new_field'
        },
        {
          title: '字段含义',
          key: 'fieldMean'
        },
        {
          title: '数据类型',
          slot: 'dataType',
          key: 'dataType'
        },
        {
          title: '治理方法',
          slot: 'methods',
          key: 'methods'
        },
        {
          title: '备注',
          slot: 'remark',
          key: 'remark'
        },
        {
          title: 'action',
          slot: 'action'
        }
      ],
      data: [],
      newFieldOpts: [],
      dataTypes: [
        'numeric',
        'text',
        'timestamp',
        'date',
        'time',
        'int',
        'smallint',
        'bigint',
        'boolean',
        'float'
      ],
      tableFields: [],
      etymaList: [],
      curIndex: -1,
      autoLoading: false,
      excelInfo: {
        head: [],
        firstRow: []
      },
      notSynonyms: false,
      handleSearch: null,
      selectedVal: null,
      timeout: null
    }
  },
  methods: {
    fieldsChange(fields) {
      this.newFieldOpts = this.etymaList.slice(0)
      this.excelCodeName = this.table
      this.tableFields = fields
      this.data = this.tableFields.map(v => {
        let item = {
          origin_field: v.name,
          new_field: '',
          dataType: '',
          methods: '',
          remark: '',
          fieldMean: ''
        }
        return item
      })
      this.getTableData()
    },
    readExcel(e) {
      this.loading = true
      this.newFieldOpts = this.etymaList.slice(0)
      this.table = ''
      readExcel(e.target.files[0])
        .then(({ dataList, head, firstRow }) => {
          this.excelInfo.head = head
          this.excelInfo.firstRow = firstRow
          this.data = dataList.map(v => {
            if (v.new_field) {
              v.fieldMean = this.etymaList
                .reduce((t, ety) => {
                  if (t.includes(ety.etyma)) {
                    t = t.replace(new RegExp(ety.etyma, 'g'), ety.chinese)
                  }
                  return t
                }, v.new_field)
                .replace(/_/g, '')
            }
            return v
          })
          this.excelCodeName = e.target.files[0].name.split('.')[0]
          this.loading = false
          this.$refs.file.value = null
        })
        .catch(() => {
          this.loading = false
          this.$Message.error('文件解析失败')
          this.$refs.file.value = null
        })
    },
    getTableData() {
      let path = `${this.baseUrl}/data_gov/ods/${this.table}?limit=3&offset=0`
      link(path).then(res => {
        if (!res.resource.length) return
        Object.keys(res.resource[0]).forEach(v => {
          let value =
            res.resource[0][v] || res.resource[1][v] || res.resource[2][v]
          console.log(v)
          let index = this.data.findIndex(item => item.origin_field === v)
          this.data[index].dataType = this.distinguishType(value) || ''
        })
      })
    },
    distinguishType(val) {
      if (typeof val === 'number') {
        if (/^-?\d+$/.test(val.toString())) {
          return 'int'
        }
        if (/^(-?\d+)(\.\d+)?$/.test(val.toString())) {
          return 'float'
        }
      }
      if (typeof val === 'boolean') {
        return 'boolean'
      }
      if (typeof val === 'string') {
        if (/^(([0-2][0-3])|([0-1][0-9])):[0-5][0-9]:[0-5][0-9]$/.test(val)) {
          return 'time'
        }
        if (/^(\d{4})(-|\/)(\d{2})(-|\/)(\d{2})$/.test(val)) {
          return 'date'
        }
        let reg = /^([1-2][0-9][0-9][0-9](-|\/)[0-1]{0,1}[0-9](-|\/)[0-3]{0,1}[0-9])(\s|T)(\d{2}):*/
        // yyyyMMddhhmmss
        let ys = /^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})(((0[13578]|1[02])(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)(0[1-9]|[12][0-9]|30))|(02(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))([0-1]?[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])$/
        if (reg.test(val) || ys.test(val)) {
          return 'timestamp'
        }
        return 'text'
      }
    },
    loadingChange(state) {
      this.loading = state
    },
    search(index, val) {
      if (val === this.selectedVal) {
        this.selectedVal = null
        return
      }
      console.log(val, 'search')
      this.notSynonyms = false
      let arr = val.split('_')
      let query = arr[arr.length - 1]
      if (query) {
        if (/^[\u4E00-\u9FA5]+$/.test(query)) {
          this.synonyms(query).then(res => {
            if (res) this.newFieldOpts = res
          })
        } else {
          this.keyWord = val
          // this.newFieldOpts = this.etymaList.filter(v => {
          //   return v.etyma.includes(query)
          // })
          this.autoLoading = true
          translate(val, 'en', 'zh')
            .then(data => {
              if (data.trans_result) {
                this.synonyms(data.trans_result[0].dst).then(res => {
                  if (!res) {
                    this.newFieldOpts = this.etymaList.filter(v => {
                      return v.etyma.includes(query)
                    })
                  } else {
                    let filterData = this.etymaList.filter(v => {
                      return v.etyma.includes(query)
                    })
                    res.forEach(v => {
                      if (!filterData.find(f => f.etyma === v.etyma)) {
                        filterData.push(v)
                      }
                    })
                    this.newFieldOpts = filterData
                  }
                })
              } else {
                this.autoLoading = false
              }
            })
            .catch(() => {
              this.autoLoading = false
            })
        }
      } else {
        this.newFieldOpts = []
      }
      this.curIndex = -1
    },
    synonyms(word) {
      this.autoLoading = true
      return new Promise(resolve => {
        link(`http://132.232.172.50:42081/synonyms/${word}/nearby`).then(
          res => {
            if (res.resource.length) {
              let query = res.resource.join('\n')
              translate(query).then(data => {
                if (data.trans_result) {
                  let candidate = data.trans_result.reduce((t, c) => {
                    let result = t.find(
                      v => v.etyma === c.dst.replace(/\s/g, '_').toLowerCase()
                    )
                    if (!result) {
                      let item = { ps: '未录入词根表' }
                      item.etyma = c.dst.replace(/\s/g, '_').toLowerCase()
                      item.chinese = c.src
                      t.push(item)
                    }
                    return t
                  }, [])
                  let newFieldOpts = candidate.reduce((t, val) => {
                    let item = this.etymaList.find(
                      v => val.etyma === v.etyma || val.chinese === v.chinese
                    )
                    item ? t.push(item) : t.push(val)
                    return t
                  }, [])
                  resolve(newFieldOpts)
                } else {
                  resolve(false)
                }
                this.autoLoading = false
              })
            } else {
              this.autoLoading = false
              this.notSynonyms = true
              resolve(false)
            }
          }
        )
      })
    },
    exportExcel() {
      const { export_json_to_excel } = require('@/util/excel/Export2Excel')
      // let tHeader = this.table
      //   ? ['原字段名', '新字段名', '字段含义', '数据类型', '治理方法', '备注']
      //   : this.excelInfo.head
      let tHeader = [
        '原字段名',
        '新字段名',
        '字段含义',
        '数据类型',
        '治理方法',
        '备注'
      ]
      // 上面设置Excel的表格第一行的标题
      const filterVal = [
        'origin_field',
        'new_field',
        'fieldMean',
        'dataType',
        'methods',
        'remark'
      ]
      // 上面的index、nickName、name是tableData里对象的属性
      let additional = this.table
        ? [
            'from',
            this.table,
            'to',
            this.table.replace(/(ods_|_di|_df)/g, match =>
              match === 'ods_' ? 'dw_' : ''
            ),
            '',
            '',
            ''
          ]
        : this.excelInfo.firstRow
      const list = this.data.slice(0)
      const data = list.map(v => filterVal.map(j => v[j]))
      export_json_to_excel(additional, tHeader, data, this.excelCodeName)
    },
    exportCsv() {
      const filterVal = [
        'origin_field',
        'new_field',
        'fieldMean',
        'dataType',
        'methods',
        'remark'
      ]
      let dataList = deepCopy(this.data)
      let data = dataList.map(v => {
        filterVal.forEach(key => (v[key] = v[key].replace(/"/g, '""')))
        return v
      })
      let head = [
        '原字段名',
        '新字段名',
        '字段含义',
        '数据类型',
        '治理方法',
        '备注'
      ]
      let additional = this.table
        ? [
            'from',
            this.table,
            'to',
            this.table.replace(/(ods_|_di|_df)/g, match =>
              match === 'ods_' ? 'dw_' : ''
            ),
            '',
            '',
            ''
          ]
        : this.excelInfo.firstRow
      let headData = filterVal.reduce(
        (t, v, index) => {
          t[0][index] = {}
          t[0][index]['key'] = v
          t[0][index]['title'] = additional[index]
          t[1][v] = head[index]
          return t
        },
        [[], {}]
      )
      data = [headData[1], ...data]
      console.log(headData[0])
      this.$refs.table.exportCsv({
        filename: this.excelCodeName,
        quoted: true,
        columns: headData[0],
        original: false,
        data: data
      })
    },
    dataChange(index, code, val) {
      let item = this.data[index]
      item[code] = val
      this.$set(this.data, index, item)
    },
    newFieldChange(index, val) {
      console.log('val', 'select')
      this.selectedVal = val
      let item = this.data[index]
      let oldValue = item.new_field.split('_')
      oldValue[oldValue.length - 1] = val
      item.new_field = oldValue.join('_')
      let target = this.newFieldOpts.find(v => v.etyma === val)
      item.fieldMean = this.etymaList
        .reduce((t, ety) => {
          if (t.includes(ety.etyma)) {
            t = t.replace(new RegExp(ety.etyma, 'g'), ety.chinese)
          }
          return t
        }, item.new_field.replace(new RegExp(val, 'g'), target.chinese))
        .replace(/_/g, '')
      this.$set(this.data, index, item)
      if (target.ps === '未录入词根表') {
        target.ps = ''
        this.insertEtyma(target)
      }
      this.newFieldOpts = []
    },
    focus() {
      this.newFieldOpts = []
    },
    blur(index, e) {
      let item = this.data[index]
      item['new_field'] = e.target.value
      item.fieldMean = item['new_field']
        ? this.etymaList
            .reduce((t, ety) => {
              if (t.includes(ety.etyma)) {
                t = t.replace(new RegExp(ety.etyma, 'g'), ety.chinese)
              }
              return t
            }, item['new_field'])
            .replace(/_/g, '')
        : ''
      this.$set(this.data, index, item)
      this.notSynonyms = false
    },
    // 插入词根
    insertEtyma(data) {
      link(`${this.baseUrl}/data_gov/config/etyma`, data, {
        method: 'put'
      }).then(res => {
        if (res.resource.length) {
          this.getEtyma()
        }
      })
    },
    // 获取词根
    getEtyma() {
      link(`${this.baseUrl}/data_gov/config/etyma`).then(res => {
        this.etymaList = res.resource
          .filter(v => v.etyma)
          .sort((a, b) => {
            return b.etyma.length - a.etyma.length
          })
        this.newFieldOpts = res.resource.filter(v => v.etyma).slice(0)
      })
    },
    // 获取数据表
    getTableList() {
      link(`${this.baseUrl}/data_gov/ods`).then(res => {
        this.tableList = res.resource
      })
    },
    getFields(table) {
      if (!table) return
      this.table = table
      this.loading = true
      link(`${this.baseUrl}/data_gov/ods/${table}/metadata`)
        .then(res => {
          if (res.code === 200) {
            this.fields = res.metadata.columns
            this.fieldsChange(res.metadata.columns)
          } else {
            this.$Message.error(res.metadata)
          }
        })
        .catch(() => this.$Message.error('请求错误'))
        .finally(() => {
          this.loading = false
          this.$emit('loadingChange', false)
        })
    },
    handleKeydown(e) {
      if (e.key === 'Backspace') {
        return
      }
      e.preventDefault()
      if (e.key === 'ArrowUp') {
        this.curIndex =
          this.curIndex <= 0 ? this.newFieldOpts.length - 1 : this.curIndex - 1
      }
      if (e.key === 'ArrowDown') {
        this.curIndex =
          this.curIndex < this.newFieldOpts.length - 1 ? this.curIndex + 1 : 0
      }
    },
    remove(row, index) {
      if (!row.insert) return
      this.data.splice(index, 1)
    },
    insert(index) {
      let item = {
        origin_field: '',
        new_field: '',
        dataType: '',
        methods: '',
        remark: '',
        fieldMean: '',
        insert: true
      }
      this.data.splice(index, 0, item)
    }
  },
  created() {
    this.getTableList()
    this.getEtyma()
    this.handleSearch = throttle(this.search, 500)
  }
}
</script>
<style lang="less">
.table-tool {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  .tool-left {
    display: flex;
    justify-content: space-between;
  }
  .tool-item {
    margin-right: 10px;
  }
}
.table-wrap {
  padding: 25px;
}
.etyma-option-wrap {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  .ivu-select-item:hover {
    background: #e5eff5;
  }
  .ivu-select-item.active {
    background: #e5eff5;
  }
  .etyma-option-item {
    display: flex;
    align-items: center;
    white-space: normal;
    word-wrap: break-word;
    justify-content: space-between;
    .title {
      width: 40%;
      color: #515a6e;
    }
    .des {
      width: 20%;
      color: #999;
    }
    .ps {
      width: 35%;
      color: #999;
      &.info {
        color: #ed4014;
      }
    }
  }
}
.notSynonyms {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
</style>
