<template>
  <div v-show="loading" :class="['loading-wrap', { 'loading-fix': fix }]">
    <Icon type="ios-loading" size="18" class="icon-load"></Icon>
    <div>{{ text }}</div>
  </div>
</template>
<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    text: String,
    fix: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="less">
.loading-wrap {
  text-align: center;
  padding: 10px 0;
  color: #2d8cf0;
  &.loading-fix {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
