<template>
  <Select
    v-model="val"
    :class="fieldClass"
    v-bind="model.attrs"
    :transfer-class-name="model.attrs.transfer ? 'form-select-transfer' : ''"
    :multiple="model.type === 'selectMulti'"
    @on-change="changeValidator"
  >
    <Option
      v-for="item in model.dataList"
      :value="item.value"
      :key="item.value"
      >{{ item.name }}</Option
    >
  </Select>
</template>
<script>
import validate from '../validate.js'
export default {
  extends: validate,
  inject: ['form'],
  props: {
    value: {}
  },
  data() {
    return {
      val: '',
      initVal: undefined
    }
  },
  watch: {
    val: {
      immediate: true,
      handler(v) {
        let item = v === '' && this.model.type === 'selectMulti' ? [] : v
        if (
          this.form.value[this.model.code] === undefined &&
          this.model.default
        )
          item = this.model.default
        this.form.inputValue(this.model.code, item)
      }
    },
    value: {
      immediate: true,
      handler(v, old) {
        if (
          v !== undefined &&
          (Array.isArray(v) ? v.length !== 0 : v !== '') &&
          old === undefined
        )
          this.initVal = v
        if (v) this.val = v
      }
    }
  },
  computed: {
    status() {
      return this.form.fieldStatus[this.model.code]
    },
    fieldClass() {
      return {
        'field-status-unvalid': this.status && !this.status.valid
      }
    }
  }
}
</script>
