<template>
  <div id="app">
    <div class="aside-menu">
      <Menu />
    </div>
    <div class="main-content">
      <router-view />
    </div>
  </div>
</template>

<script>
import Menu from '@/view/menu'
export default {
  components: {
    Menu
  },
  name: 'app'
}
</script>

<style lang="less">
html,
body {
  height: 100%;
}
#app {
  display: flex;
  height: 100%;
  .aside-menu {
    width: 150px;
    .ivu-menu {
      height: 100%;
    }
  }
  .main-content {
    flex: 1;
  }
}
</style>
