<template>
  <Upload
    ref="upload"
    v-bind="model.attrs"
    :default-file-list="fileList"
    @on-success="successHandler"
    @on-remove="handleRemove"
  >
    <div v-if="model.attrs && model.attrs.drag" class="upload-drag">
      <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
      <p>点击或者拖拽文件到此处上传</p>
    </div>
    <a v-else icon="ios-cloud-upload-outline">点击上传</a>
  </Upload>
</template>
<script>
import validate from '../validate.js'
export default {
  name: 'fileUpload',
  extends: validate,
  inject: ['form'],
  props: {
    value: Array
  },
  data() {
    return {
      fileList: []
    }
  },
  watch: {
    value: {
      immediate: true,
      handler(v) {
        if (v === undefined) {
          this.form.inputValue(this.model.code, [])
        } else {
          this.fileList = v
        }
      }
    }
  },
  methods: {
    successHandler(response, file) {
      let result = this.fileList.push(file)
      this.form.inputValue(this.model.code, result)
    },
    handleRemove(file) {
      const fileList = this.$refs.upload.fileList
      this.$refs.upload.fileList.splice(fileList.indexOf(file), 1)
      this.fileList.splice(fileList.indexOf(file), 1)
    }
  }
}
</script>
