<template>
  <div class="interval-wrap" v-click-outside="close">
    <Input
      :class="fieldClass"
      :value="value"
      v-bind="model.attrs"
      @click.native="showWrap = true"
      @input="input"
      @on-blur="blurValidator"
    />
    <div v-show="showWrap" class="dropWrap">
      <div
        :style="{ width: 100 / list.length + '%' }"
        class="list-wrap"
        v-for="(item, index) in list"
        :key="index"
      >
        <ul>
          <li
            v-for="count in item"
            :class="{ selected: selectList[index] === count }"
            @click="select(count, index)"
            :key="count"
          >
            {{ count }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import validate from '../validate.js'
import clickOutside from '@/components/click-out.js'
export default {
  extends: validate,
  inject: ['form'],
  directives: { clickOutside },
  data() {
    return {
      initVal: undefined,
      list: [],
      selectList: [],
      showWrap: false
    }
  },
  props: {
    value: {}
  },
  watch: {
    value: {
      immediate: true,
      handler: function(v, old) {
        if (v !== undefined && v !== null && old === undefined) this.initVal = v
        if (this.form.value[this.model.code] === undefined) {
          this.model.default
            ? this.form.inputValue(this.code, this.model.default)
            : this.form.inputValue(this.code, null)
        }
      }
    }
  },
  computed: {
    fieldClass() {
      return {
        'field-status-valid': this.status.valid,
        'field-status-disabled': this.status.disabled,
        'field-status-unvalid': !this.status.valid,
        'field-status-empty': this.status.empty,
        'field-status-view': this.status.view
      }
    }
  },
  methods: {
    select(count, index) {
      let sl = this.selectList.slice(0)
      sl[index] = count
      this.list.forEach((v, i) => {
        if (!sl[i]) sl[i] = v[0]
      })
      this.selectList = sl.slice(0)
      this.form.inputValue(this.code, this.selectList.join(':'))
    },
    getCount(num) {
      let list = []
      for (let i = 0; i < num; i++) {
        list.push((i + '').length === 1 ? '0' + i : i)
      }
      return list
    },
    input(value) {
      this.form.inputValue(this.code, value)
    },
    close() {
      this.showWrap = false
    }
  },
  created() {
    this.form.setFieldStatus(this.model.code, 'control', this)
    this.list[0] = this.getCount(24).slice(0)
    this.list[1] = this.getCount(60).slice(0)
    this.list[2] = this.getCount(60).slice(0)
  }
}
</script>
<style lang="less" scoped>
.interval-wrap {
  position: relative;
  .dropWrap {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    display: flex;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    z-index: 999999;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    .list-wrap {
      max-height: 144px;
      overflow-x: auto;
      border-right: 1px solid #dcdee2;
      li {
        width: 100%;
        height: 24px;
        line-height: 24px;
        box-sizing: content-box;
        text-align: center;
        user-select: none;
        cursor: pointer;
        list-style: none;
        transition: background 0.2s ease-in-out;
        &.selected {
          color: #2d8cf0;
        }
      }
    }
    .list-wrap::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}
</style>
