<!-- 数据配置页 -->
<template>
  <div class="api_config">
    <div class="apipath">
      <apiPath @ApiPath="setPath"></apiPath>
    </div>
  </div>
</template>

<script>
import apiPath from './listselect'
export default {
  components: { apiPath },

  props: {},

  data() {
    return {
      apiPath: ''
    }
  },

  watch: {},

  computed: {},

  created() {},

  mounted() {},

  methods: {
    setPath(path) {
      if (path !== this.apiPath) {
        this.apiPath = path
      }
    }
  }
}
</script>
