<template>
  <codeEditor
    :class="fieldClass"
    v-bind="model.attrs"
    @errorChange="onError = $event"
    v-model="val"
  />
</template>
<script>
import validate from '../validate.js'
import codeEditor from '@/components/codeEditor'
export default {
  components: {
    codeEditor
  },
  extends: validate,
  inject: ['form'],
  props: {
    value: {}
  },
  data() {
    return {
      val: {},
      onError: false
    }
  },
  watch: {
    val: {
      immediate: true,
      handler(v) {
        if (
          this.form.value[this.model.code] === undefined &&
          this.model.default
        )
          v = this.model.default
        this.form.inputValue(this.code, v)
      }
    },
    value: {
      immediate: true,
      handler(v) {
        if (v !== undefined) this.val = v
      }
    }
  },
  computed: {
    status() {
      return this.form.fieldStatus[this.model.code]
    },
    fieldClass() {
      return {
        'field-status-unvalid': this.status && !this.status.valid
      }
    }
  },
  methods: {
    input(value) {
      this.form.inputValue(this.code, value)
    }
  }
}
</script>
